

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --upperHeaderElements: 1;
  --headerElements: 3;
  --bodyElements: 0;
}

$upperHeaderElements: var(--upperHeaderElements);
$headerElements: var(--headerElements);
$bodyElements: var(--bodyElements);


header {
  display: flex;
  justify-content: space-between;
  padding: 24px;
}

.container-select {
  width: 5%;
}

.container-timeline {
  min-width: 850px;
  margin: 0 auto;
  color: #081d42;
}

.chart {
  display: grid;
  position: relative;
  font-family: MerriweatherSans;
  border: 1px solid #333;
  overflow: hidden;
}

.header-element {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  font-size: 13px;
  padding-top: 10px;
  background-color: #fff;
  border-bottom: 0.3px solid #c1c6d0;
  z-index: 2;
}

.chart-row {
  display: grid;
  grid-template-columns: 25% 1fr;
  background-color: #fafafc;

  &__item {
    background-color:#fff;
    border-bottom: 0.3px solid #c1c6d0;
    padding: 20px 0;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
  }
}

.chart-period{
  color: #778397;
  background-color:  #fff;
  grid-template-columns: 25% repeat($headerElements, 1fr);
}

.chart-period-upper {
  color: #778397;
  background-color:  #fff;
  grid-template-columns: 25% repeat($upperHeaderElements, 1fr);

  &-sub {
    display: grid;
    color: #778397;
    background-color:  #fff;
    grid-template-columns: repeat($headerElements, 1fr);
  }
}

.chart-lines {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: transparent;
  grid-template-columns: 25% repeat($headerElements, 1fr);

  &__element {
    display: block;
    border-right: 0.5px solid #c1c6d0;
  }
}

.chart-lines-upper {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: transparent;
  grid-template-columns: 25% repeat($upperHeaderElements, 1fr);

  &__element {
    display: block;
    border-right: 0.5px solid #c1c6d0;
  }
}

.chart-row-bars {
  list-style: none;
  display: grid;
  padding: 15px 0;
  margin: 0;
  grid-template-columns: repeat($bodyElements, 1fr);
  grid-gap: 10px 0;
  border-bottom: 0.3px solid  #c1c6d0;

  li {
    font-weight: 450;
    text-align: left;
    font-size: 15px;
    min-height: 15px;
    background-color: #708090;
    padding: 5px 15px;
    color: #fff;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border-radius: 15px;
  }
}


