<div class="container-timeline">
  <div class="chart">
    <!-- Header -->
    <div class="chart-row chart-period">
        <div class="chart-row__item">Topics</div>

        <div class="header-element" *ngFor="let day of timelineElements">
          <div class="header-element__name">{{ day.digit }}</div>
          <div class="header-element__name">{{ day.name }}</div>
        </div>
    </div>

    <!-- Lines -->
    <div class="chart-row chart-lines">
      <div class="chart-lines__element" *ngFor="let day of timelineElements"></div>
    </div>

    <!-- Body -->
    <div class="chart-row" *ngFor="let topic of topics">
        <div class="chart-row__item">{{ topic.title }}</div>

        <ul class="chart-row-bars">
          <li *ngFor="let event of topic.events" [ngStyle]="getPositionAndColor(event.start, event.end, topic.color)">{{ event.name }}</li>
        </ul>
    </div>
  </div>
</div>


